<p>Pokus - ovo je link stranica na /modificiraj_knjigu. Salje post request sa id-om knjige</p>

<!--<form id="modificirajknjigu-forma1" action="/modificiraj_knjigu" accept-charset="UTF-8" method="post">-->
<%= form_with url: "/modificiraj_knjigu", id: "modificirajknjigu-forma1", class:"klasa" do |form| %>
    <input type="text" id="" name="id" value="">
    <input type="submit" value="Submit">
<!--</form>-->
<% end %>