<main id="kontakt-main">

    <p id="kontakt-naslov">Demetra</p>
    <table id="kontakt-tablica">
        <tr>
            <td class="kontakt-tablica-stupac1">e-mail:</td>
            <td class="kontakt-tablica-stupac2"><a href="mailto:savic.slobodan@mail.com">savic.slobodan@mail.com</a></td>
        </tr>
        <tr>
            <td class="kontakt-tablica-stupac1">mobitel:</td>
            <td class="kontakt-tablica-stupac2">099 654 3442</td>
        </tr>
        <tr class="">
            <td class="kontakt-tablica-stupac1">telefon:</td>
            <td class="kontakt-tablica-stupac2">6522 296</td>
        </tr>
        <tr>
            <td class="kontakt-tablica-stupac1">Adresa:</td>
            <td class="kontakt-tablica-stupac2"><a href="https://www.google.com/maps/place/Sortina+ul.+1B,+10000,+Zagreb/@45.7755872,15.9791067,17z/data=!3m1!4b1!4m5!3m4!1s0x4765d677dc061cad:0x316751d6e8c4914d!8m2!3d45.7756401!4d15.9791055" target="_blank">Sortina 1b</a></td>
        </tr>
    </table>
    <%= image_tag("slikamalak.jpg", id: "kontakt-slika1", alt: "slika knjizare") %>
    <div id="kontakt-el">
        <a href="/knjige" id="kontakt-link" class="link-header">Natrag na glavnu stranicu</a>
    </div>
    <%= image_tag("slika_demetre8bit_mala.png", id: "kontakt-slika", alt: "slika Demetre") %>
</main>